@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto&display=swap');
body
{
  font-family: 'Roboto', sans-serif !important;
  background-color: #F4F6FA;

}
.theme-text
{
	color:#01509e;
}
.text-dark
{
	color:#000 !important;
}
.theme-bg
{
	background-color:#01509e;
}
.h-100
{
	min-height:100vh !important;
}
.website_desc h1
{
	font-size:8vw;
	font-family: 'Fredoka One', cursive !important;
}
.website_desc h3
{
	font-size:24px;
	letter-spacing:5px;
	font-family: 'Fredoka One', cursive !important;
}
.div-middle
{
	display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:100vh !important;
  height:100vh;
  margin:0px auto;
}
.login-form
{
	width:70%;
}
.website_head
{
	font-size:80px;
	letter-spacing:10px;
	font-family: 'Fredoka One', cursive !important;
	
}
.login-form label
{
	font-weight:bold;
	letter-spacing:2px;
	font-size:20px;
}
.login-form input
{
	box-shadow:0px 0px 0px red!important;
  border:0px solid #fff;
  border-bottom: 2px solid #ddd;
	letter-spacing:2px;
  padding:20px;
  margin: 10px 0px;
}
.dash_big_head
{
	font-size:5vw !important;
	font-size:10vmin  !important;
	font-family: 'Fredoka One', cursive !important;
}
.dash_small_head
{
	font-family: 'Fredoka One', cursive !important;
	font-size:2vw;
	letter-spacing:0.5vw;
	padding-left:5px;
}

.dash_welcome
{
	padding:6vh !important;
}
.overlay-form
{
  margin-top:-40px;
  padding:50px 30px;
  padding-top: 10px;
	background:#fff;
  border-radius:40px;
}
.shortner-form label
{
	font-size:20px;
	font-weight:bold;
	text-transform:capitalize;
	letter-spacing:3px;
}
.shortner-form input
{
	box-shadow:0px 0px 0px #fff!important;
	border-color:#ddd!important;
	letter-spacing:2px;
	padding:20px;
}
.shortner-form input[type='submit']
{
	padding:10px 30px!important;
	font-weight:bold;
	letter-spacing:3px;
}
#preloader {
  min-height: 100vh;
  min-width:100vw;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 251, 255, 1);
   position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition: 1s 0.4s;
}
#preloader .desc
{
  top: 12vh;
  position: absolute;
  text-align: center;
}
#preloader .desc h1
{
  font-size: 10vw;
}

#preloader .desc h3
{
  font-size: 4.5vw;
}
.boxes {
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin-top: 32px;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  display: block;
}
.boxes .box {
  width: 32px;
  height: 32px;
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: box1 1s linear infinite;
  animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: box2 1s linear infinite;
  animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: box3 1s linear infinite;
  animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: box4 1s linear infinite;
  animation: box4 1s linear infinite;
}

.boxes .box > div {
  background: #5c8df6;
  --translateZ: 15.5px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5c8df6;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  top: 0;
  left: 0;
  background: #5c8df6;
}
.boxes .box > div:nth-child(2) {
  background: #145af2;
  right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  background: #dbe3f4;
  top: 0;
  left: 0;
  --translateZ: -90px;
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
.nav
{
  position: absolute;
  top:0px;
  right:0px;
  z-index: 9999999;
}
.nav-menus
{
  list-style: none;
}
.nav-menus li
{
  float: left;
  padding: 10px 20px;
  background:#01509e;
  margin-right: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
.nav-menus li:hover
{
  background-color: #000;
  padding:20px;
}
.img-holder
{
  transition: all 1.5s ease;
}
.img-holder:hover
{
  transform: rotate(45deg); 
}
.error-desitnation
{
  position:absolute;
  bottom:100px;
  font-size: 20px;
  z-index:99999;
  width:100%;
  text-align: center;
}
.error-desitnation > span
{
  background-color: red;
  color:#fff;
  display: inline-block;
  padding:0.5em
}
.container 
{
  width:90vw !important;
}
.theme-btn
{
  border-radius: 100px;
  width:100%;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
}
.link_container
{
  padding: 40px 30px;
  border-bottom: 1px solid #000;
}

.link_container li
{
  -ms-word-break: break-all;
  word-break: break-all;
}
.link_container ul
{
  list-style: none;
  margin: 0px;
  padding:0px;
}
.link_info_container
{
  padding: 40px 30px;
  border-bottom: 1px solid #000;
}
.info_text
{
  font-weight: bold;
  float: left;
  color:#333;
  font-size: 1.1rem;
  opacity: 0.4;
}
.right_info
{
  float: right !important;
}
.short_url > a
{
  color: #01509e;
  font-weight:bold;
  font-size:14px
}
.long_url > a
{
  color: #000 !important;
  font-size: 14px;
}
.small-btn
{
  border:2px solid #000;
  color: #000;
  font-weight:bold;
  font-size:12px;
  letter-spacing: 1px;
  padding: 5px 10px;
}
.dash_welcome  > .dash_big_head
{
  font-size: 3.5em !important;
  letter-spacing: 10px !important;
}

.dash_welcome  > .dash_small_head
{
  font-size: 0.8em !important;
  letter-spacing: 3px !important;
}
.block {
  height: 10px;
  display: block;
  margin: 15px 0px;
}
.block.block--short {
  max-width: 50%;
}

.load-animate {
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #dddddd;
  background-image: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(20%, #f5f5f5), color-stop(40%, #efefef), to(#dddddd));
  background-repeat: no-repeat;
  background-size: cover;
}
.load-animate.profile-pic {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes load {
  0% {
    background-position: -680px 0;
  }
  100% {
    background-position: 680px 0;
  }
}

@keyframes load {
  0% {
    background-position: -680px 0;
  }
  100% {
    background-position: 680px 0;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.switch input[type="checkbox"] {
  display: none;
}
.switch input:checked + .knob {
  animation: colorChange 0.4s linear forwards;
}
.switch input:checked + .knob:before {
  animation: turnON 0.4s linear forwards;
}

@keyframes colorChange {
  from {
    background-color: #ccc;
  }
  50% {
    background-color: #318be0;
  }
  to {
    background-color: #01509e;
  }
}
@keyframes turnON {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(30.2px);
    box-shadow: -10px 0px 44px 0px #434343;
  }
}
.knob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
}

.knob:before {
  position: absolute;
  background-color: white;
  content: "";
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.theme-text-light
{
  color:rgb(104, 104, 104) !important;
}